body{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0%;
}

.header{
    text-align: center;
    color: cadetblue;
}

.game--div{
    margin: 2rem;
    width: 30rem;
    height: 24rem;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    height: 8rem 8rem 8rem;
    gap: 0.5rem;
}

.inner--button{
    background-color: aqua;
    border: 0.5px solid grey;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 700;
}

.button--div{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
}

.button{
    font-size: 20px;
    color: antiquewhite;
    background-color: gray;
    border: 0cap;
    border-radius: 6px;
    padding: 15px;
    width: 100%;
    height: 100%;
}
button:hover{
    cursor: pointer;
}

.home--div {
    width: 100%;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}

